{% if state_for == "pending" %}
{% if ongoing_orders|length == 0 and pending_orders|length == 0 %}
<h1 class="text-center mt-[200px]">No Order for you</h1>
{% else %}
{% for i in ongoing_orders %}
<div class="flex items-center rounded px-2 py-2 border bg-gray-50 mt-3 active:bg-gray-120 maindiv"
    onclick="view_order('{{ i.order_no }}')">
    <div class="w-4/5 flex flex-col gap-3">
        <p class="font-bold text-lg">{{i.customer_name}}</p>
        <span class="flex gap-1 items-center w-max rounded-full pr-2 py-1 justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f9733d"
                class="rounded-full">
                <path
                    d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" />
            </svg>
            <p>{{ i.distance }}</p>
        </span>
        <span>
            <p class="tracking-wide">{{ i.order_no }}</p>
        </span>
        <span class="items-center justify-center">
            {% if i.status == "accepted" or i.status == "picked" %}
            <p class="border rounded w-max px-2 py-1 bg-green-500 text-white">Ongoing</p>
            {% elif i.status == "assigned" %}
            <p class="border rounded w-max px-2 py-1 bg-blue-500 text-white">Assigned to you</p>
            {% elif i.status == "cancelled_by_boy" or i.status == "cancelled_by_boy" %}
            <p class="border rounded w-max px-2 py-1 bg-red-500 text-white">Cancelled</p>
            {% elif i.status == "delievered" %}
            <p class="border rounded w-max px-2 py-1 bg-gray-600 text-white">Delievered</p>
            {% else %}
            <p class="border rounded w-max px-2 py-1 bg-yellow-500 text-white">{{ i.status }}</p>
            {% endif %}
        </span>
    </div>
    <div class="w-1/5 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed"
            class="border border-white-900 rounded-full bg-[#F15E22] active:bg-[#f9733d]">
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
    </div>
</div>
{% endfor %}
{% for i in pending_orders %}
<div class="flex items-center rounded px-2 py-2 border bg-gray-50 mt-3 active:bg-gray-120 maindiv"
    onclick="view_order('{{ i.order_no }}')">
    <div class="w-4/5 flex flex-col gap-3">
        <p class="font-bold text-lg">{{i.customer_name}}</p>
        <span class="flex gap-1 items-center w-max rounded-full pr-2 py-1 justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f9733d"
                class="rounded-full">
                <path
                    d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" />
            </svg>
            <p>{{ i.distance }}</p>
        </span>
        <span>
            <p class="tracking-wide">{{ i.order_no }}</p>
        </span>
        <span class="items-center justify-center">
            {% if i.status == "accepted" or i.status == "picked" %}
            <p class="border rounded w-max px-2 py-1 bg-green-500 text-white">Ongoing</p>
            {% elif i.status == "assigned" %}
            <p class="border rounded w-max px-2 py-1 bg-blue-500 text-white">Assigned to you</p>
            {% elif i.status == "cancelled_by_boy" or i.status == "cancelled_by_boy" %}
            <p class="border rounded w-max px-2 py-1 bg-red-500 text-white">Cancelled</p>
            {% elif i.status == "delievered" %}
            <p class="border rounded w-max px-2 py-1 bg-gray-600 text-white">Delievered</p>
            {% else %}
            <p class="border rounded w-max px-2 py-1 bg-yellow-500 text-white">{{ i.status }}</p>
            {% endif %}
        </span>
    </div>
    <div class="w-1/5 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed"
            class="border border-white-900 rounded-full bg-[#F15E22] active:bg-[#f9733d]">
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
    </div>
</div>
{% endfor %}
{% endif %}
{% elif state_for == "past" %}
{% if past_orders|length == 0 %}
<h1 class="text-center mt-[200px]">No Past Order</h1>
{% else %}
{% for i in past_orders %}
<div class="flex items-center rounded px-2 py-2 border bg-gray-50 mt-3 active:bg-gray-120 maindiv"
    onclick="view_order('{{ i.order_no }}')">
    <div class="w-4/5 flex flex-col gap-3">
        <p class="font-bold text-lg">{{i.customer_name}}</p>
        <span class="flex gap-1 items-center w-max rounded-full pr-2 py-1 justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#f9733d"
                class="rounded-full">
                <path
                    d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" />
            </svg>
            <p>{{ i.distance }}</p>
        </span>
        <span>
            <p class="tracking-wide">{{ i.order_no }}</p>
        </span>
        <span class="items-center justify-center">
            {% if i.status == "accepted" or i.status == "picked" %}
            <p class="border rounded w-max px-2 py-1 bg-green-500 text-white">Ongoing</p>
            {% elif i.status == "assigned" %}
            <p class="border rounded w-max px-2 py-1 bg-blue-500 text-white">Assigned to you</p>
            {% elif i.status == "cancelled_by_boy" or i.status == "cancelled_by_boy" %}
            <p class="border rounded w-max px-2 py-1 bg-red-500 text-white">Cancelled</p>
            {% elif i.status == "delievered" %}
            <p class="border rounded w-max px-2 py-1 bg-gray-600 text-white">Delievered</p>
            {% else %}
            <p class="border rounded w-max px-2 py-1 bg-yellow-500 text-white">{{ i.status }}</p>
            {% endif %}
        </span>
    </div>
    <div class="w-1/5 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed"
            class="border border-white-900 rounded-full bg-[#F15E22] active:bg-[#f9733d]">
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
    </div>
</div>
{% endfor %}
{% endif %}
{% endif %}